@tailwind base;
@tailwind components;
@tailwind utilities;

.backgound-one {
  background: linear-gradient(155deg, #f6f1f1, #f6f1f1 90%, green 120%);
}
.backgound-two {
  background: linear-gradient(155deg, #ffffff, #ffffff 85%, green 120%);
}
/* index.css hoặc style.css */
.ant-message {
  font-size: 16px; /* Thay đổi kích thước font của thông báo */
}
.ant-message-notice {
  padding: 0px; /* Thay đổi padding để thay đổi kích thước thông báo */
}
